<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Edit page</h1>

    <form action="/chef/<%=chef.id%>?_method=PUT" method="POST">

    <ul>
      Profile Image: <input type="text" name="profileImage" value="<%=chef.profileImage%>"><br/>
      Name: <input type="text" name="name" value="<%=chef.name%>"><br/>
      Years of Experience: <input type="text" name="years" value="<%=chef.years%>"><br/>
      Welcome Saying: <input type="text" name="description" value="<%=chef.description%>"><br/>
      Starter: <input type="text" name="starter" value="<%=chef.starter%>"><br/>
      Main: <input type="text" name="main" value="<%=chef.main%>"><br/>
      Dessert: <input type="text" name="dessert" value="<%=chef.dessert%>"><br/>
      Drinks: <input type="text" name="drink" value="<%=chef.drink%>"><br/>

      <input type="submit" value="Submit Changes">
    </ul>

    </form>

    <footer>
      © all rights reserved
    </footer>
  </body>
</html>
