<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul>
      <% for(let i = 0; i < chef.length; i++) { %>

       <img src="<%=chef[i].profileImage%>"/>

        <h1>hi, im <%=chef[i].name%></h1>
        <p>I have <%=chef[i].years%> years of experience</p> <br/>
        <p><%=chef[i].description%></p> <br/>

        <h1>menu</h1>
        <h4>
          Starter:
          <%=chef[i].starter%>
        </h4>
        <h4>
          Main:
          <%=chef[i].main%>
        </h4>
        <h4>
          Dessert:
          <%=chef[i].dessert%>
        </h4>
        <h4>
          Drinks:
          <%=chef[i].drink%>
        </h4>

      <% } %>
    </ul>

    <a href="/">Home</a> <br/>

    <footer>
      © all rights reserved
    </footer>

  </body>
</html>
