<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Chef Profile</title>
  </head>
  <body>
    <main>
      <ul>

      <h1>Profile of Chef <%=chef.name%></h1>
        <a href="/">Home</a> <br/>
        <a href="/chef">Profiles</a> <br/>


         <img src="<%=chef.profileImage%>"/>

          <h1>hi, Im <%=chef.name%></h1>
          <p>I have <%=chef.years%> years of experience</p> <br/>
          <p><%=chef.description%></p> <br/>

          <h1>menu</h1>
          <h4>
            Starter:
            <%=chef.starter%>
          </h4>
          <h4>
            Main:
            <%=chef.main%>
          </h4>
          <h4>
            Dessert:
            <%=chef.dessert%>
          </h4>
          <h4>
            Drinks:
            <%=chef.drink%>
          </h4>

      </ul>

      <a href="/newCompany/loginComp">I want you!</a> <br/>


    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
